<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="css/style.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
  </head>
  
  <body class="mx-auto my-auto mt-8 md:mt-12 items-center justify-center max-w-5xl">
    <div class="mx-auto justify-center text-center items-center mb-12">
      <img class="mb-4 mx-auto flex max-w-64 max-h-64 items-center justify-center" src="https://cdn.icon-icons.com/icons2/2845/PNG/512/bitcoin_logo_icon_181258.png" alt="">
      <h1 class="text-3xl font-normal text-black">Welcome to the TimechainData.</h1>
    </div>
     <div id="everything" class="mx-auto items-center justify-center my-auto text-center">

      
      <form hx-post="/block/" hx-swap="innerHTML" hx-target="#everything" htmx-indicator="#spinner">
    
           <div class="">
             <h1 class="text-xl font-light">Specific Block Information:</h1>
            <input placeholder="What's the block?" type="text" name="block" class="py-2 px-3 mt-2 bg-gray-100 border border-gray-700 rounded-md" id="title" />
          <button id="spinner" type="submit" class="py-2 px-3 hover:bg-gray-700 text-white rounded-md mt-4 bg-black">
            <span class="spinner-border spinner-border-sm htmx-indicator" id="spinner" role="status" aria-hidden="true"></span>
            Get block now
          </button>

           </div> 
        </form> 
     </div>
     <div id="price">
      
     </div>
     <div id="adjust">
      
     </div>
    <div class="mx-auto my-auto items-center justify-center text-center">
      <form class="" hx-post="/price/" hx-swap="innerHTML" hx-target="#price" htmx-indicator="#spinner">
        <button id="spinner" type="submit">Ver valor agora</button>
      </form>

      <form class="" hx-post="/adjustment/" hx-swap="innerHTML" hx-target="#adjust" htmx-indicator="#spinner">
        <button id="spinner" type="submit" class="bg-black text-white py-2 px-3 rounded-md" >Ajuste de dificuldade</button>
      </form>
    </div> 
  </body>
  
</html> 
